.flowchat-admin .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.flowchat-admin .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.flowchat-admin .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  transition: .4s;
  border-radius: 34px;
}

.flowchat-admin .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.flowchat-admin input:checked + .slider {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
}

.flowchat-admin input:checked + .slider:before {
  transform: translateX(26px);
}

.wp-picker-container {
    vertical-align: middle;
    margin-right: 10px;
}

.flowchat-admin .form-table th {
    padding: 20px 10px 20px 0;
    width: 250px;
}

.flowchat-admin .form-table td {
    padding: 15px 10px;
}

.flowchat-admin input[type="text"] {
    padding: 8px 10px;
    width: 100%;
    max-width: 400px;
}